.hero {
    width: 100%;
    background: url("/department_logo.png") center center no-repeat;
    background-size:contain;
    position: relative;
}
.hero i {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 30px;
    animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -50px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.overlayer {
    width: 100%;
    padding: 125px 0;
    background-color: rgba(0, 75, 106, 0.75);
    display: flex;
}

.matlabLogo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding-right: 50px;
    justify-content: center;
    color: white;
}

.mainContent h4 {
    width: 70%;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 25px;
}
.mainContent h5 {
    font-weight: normal;
}
.mainContent a {
    width: max-content;
}
.mainContent button {
    width: 120px;
}

@media only screen and (max-width: 700px) {
    .overlayer {
        padding: 100px 0px;
    }
    .matlabLogo {
        display: none;
    }
    
    .mainContent {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .mainContent h4 {
        margin: 25px auto;
    }
    .mainContent a {
        margin: 0 auto;
    }
}



/* =============================================== */

.mainContainer {
    width: 95%;
    margin: 50px auto;
}

.title {
    width: max-content;
    margin: 40px auto;
    padding: 10px;
    border-bottom: 2px solid black;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    direction: rtl;
}

.card {
    width: 635px;
    border: 2px solid #acacac;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-bottom: 20px;
    margin-left: 5px;
}
.card:hover,
.card:focus {
    border: 2px solid black;
}
@media only screen and (max-width: 1100px) {
    .cardContainer {
        justify-content: center;
    }
}

.cardImg {
    width: 175px;
    height: 175px;
    background: url("/lecture.png");

}

.cardContent {
    width: 70%;
    min-width: 175px;
    direction: rtl;
    padding-right: 20px;
}

.cardContent p {
    margin: 15px 0;
}

.cardContent button {
    font-size: 1rem;
    padding: 10px 15px;
}

.cardOverlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 31, 45, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 700px) {

    .cardImg {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 410px) {
    .cardContainer {
        width: 70%;
        margin: 0 auto;
    }
    .cardContent {
        padding-right: 0;
        text-align: center;
        margin-top: 20px;
    }
}