.navbar {
    width: 100%;
    height: 64px;
    max-width: 2000px;
    padding: 0 4.375rem;
    z-index: 100;
    background-color: var(--primary-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoBox {
    display: flex;
    align-items: center;
    color: white;
}
.logoBox p {
    font-weight: lighter;
    margin-left: 25px;
}

.navigationList {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigationListParagraph {
    color: white;
    cursor: pointer;
}
.navigationListParagraph:hover,
.navigationListParagraph:focus {
    font-weight: bold;
    transform: scale(1.05);
    border-bottom: 2px solid white;
}



@media only screen and (max-width: 1040px) {
    .navbar {
        padding: 1rem 1.375rem;        
    }


    .navigationList {
        width: 70%;
    }
    
}
@media only screen and (max-width: 650px) {
    .navigationList {
        display: none;
    }
}


.mobileNavigationList {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 98%;
    z-index: 150;
    padding-top: 100px;
    background-color: var(--primary-color);
}
.mobileNavigationListUl {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.mobileNavigationListUl li {
    cursor: pointer;
}